{% extends "app_medicadmin/padre.html" %} {% load static %} 

{% block content %}
 



<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{medico.apellido}} {{medico.nombre}}</h1>
    </div>

    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                DATOS PERSONALES</div>
                                DNI:{medico.dni}}
                                ESPECIALIDAD: {{medico.especialidad}}
                        </div>
                        <div class="col-auto">
                            <br><br><br><br> <br> <a href="{% url 'editar_medico'  medico.id %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class=" fa-sm text-white-10"></i>EDITAR</a>
     
      

                            
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        
        
        
        
        
        
        
        <!-- Tasks Card Example -->


      
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                 
                     
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">DATOS DE CONTACTO
                            </div>
                            <div class="row no-gutters align-items-center">
                           
                                
                                {% if medico.tarjeta_contacto == "" %}
                                    SIN DATOS
                                {% else %}
                                    Domicilio: {{ medico.tarjeta_contacto.domicilio_calle }} {{ medico.tarjeta_contacto.domicilio_numero}}<br>
                                                Piso {{ medico.tarjeta_contacto.domicilio_piso }}, Depto {{ medico.tarjeta_contacto.domicilio_depto }}<br>
                                                Localidad: {{ medico.tarjeta_contacto.localidad }}, Provincia: {{ medico.tarjeta_contacto.provincia }}<br>

                                    Telefonos: {{ medico.tarjeta_contacto.numero_telefonico_1 }}// {{ medico.tarjeta_contacto.numero_telefonico_1 }}<br>
                                    email: {{ medico.tarjeta_contacto.email }}
                                    <br><br><br><br><br> <a href="{% url 'editar_tarjeta_contacto_medico'  medico.tarjeta_contacto.id %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                        class=" fa-sm text-white-10"></i>EDITAR</a>
                               
                                 {% endif %}

                    
                          
                
                      
                            
                            </div>
                        </div>
                      
                    </div>
                </div>
              
                    <br><br><a href="{% url 'eliminar_medico'  medico.id %}"  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                        class=" fa-sm text-white-10"></i>ELIMINAR PACIENTE</a>
            </div>
            
        </div>

        

    <div class="row">



        
           
        
              
                </div>
                
           
                 
               
           
                   

 {% endblock %}