{% extends "app_medicadmin/padre.html" %} {% load static %} 

{% block content %}
 

<form action=""  method="get" > 
    
    
    <input type="radio" id="nombre" name="CRITERIO_BUSQUEDA" value="NOMBRE">
    <label for="nombre">Nombre</label>
    <input type="radio" id="apellido" name="CRITERIO_BUSQUEDA" value="APELLIDO">
    <label for="apellido">Apellido</label>
    <input type="radio" id="DNI" name="CRITERIO_BUSQUEDA" value="DNI">
    <label for="dni">DNI</label>

 
    
    <br><div class="input-group">
        <input type="search" name="MI_BUSQUEDA" class="form-control bg-light border-0 small" placeholder="Buscar..."
            aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <input type="submit" value = "BUSCAR" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i>
        </div>
    </div>

    

</form><br>




    <!-- DataTales Example -->
   <div class="card shadow mb-4">
    
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr style="text-align: right;">

                        <td>DNI</td>
                        <td>APELLIDO</td>
                        <td>NOMBRE</td>
                        <td>OBRA SOCIAL</td>
                        <td>DATOS DE CONTACTO</td>
                    <tr>

                        {% for paciente in object_list %}

                            <tr><td> {{paciente.dni}} </td>
                                <td><FONT COLOR="blue"> {{paciente.apellido}} </FONT></td>
                                <td><FONT COLOR="blue"> {{paciente.nombre}} </FONT></td>
                                <td>  {% if paciente.tarjeta_obra_social.obra_social == "" %}
                                    <a href="{% url 'nuevo_tarjeta_obra_social' paciente.id %}" >Ingresar Datos</a>
                                    {% else %}
                                        {{ paciente.tarjeta_obra_social.obra_social }}
                                    {% endif %}
                                </b></td>

                                <td></b>  {% if paciente.tarjeta_contacto.paciente == "" %}
                                    <a href="{% url 'nuevo_contacto' paciente.id %}" >Ingresar Datos</a>
                                    {% else %}
                                        Contacto cargado
                                    {% endif %}
                                </b></td>
                              
                                
                                <td><a href="{% url 'detalle_paciente'  paciente.id %}" >Ver detalle </a></td>    

                            </tr>

                        {% endfor %}
                        
                                              
                            
             

                    
                  </tbody>
                
                
           
        </div>
    </div>
</div>





</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->




  
    

 {% endblock %}